Repository sqrldev/SQRLDotNetClient, pull requests merged in 2020-05, with the labels that each got.

#164 Installer: Improve handling of platform-specific code
  SQRLPlatformAwareInstaller/Models/IInstaller.cs
  SQRLPlatformAwareInstaller/Platform/Implementation.cs
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
  SQRLPlatformAwareInstaller/Platform/OSX/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Util.cs
  SQRLPlatformAwareInstaller/Utils.cs
  SQRLPlatformAwareInstaller/ViewModels/VersionSelectorViewModel.cs
  SQRLPlatformAwareInstaller/Views/VersionSelectorView.xaml
Labels: enhancement

#165 Add uninstall support
  SQRLDotNetClientUI/Assets/Icons/MenuIcons/Uninstall_16x.png
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/SQRLDotNetClientUI.csproj
  SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs
  SQRLDotNetClientUI/Views/MainMenuView.xaml
  SQRLPlatformAwareInstaller/Assets/Localization/localization.json
  SQRLPlatformAwareInstaller/Models/IInstaller.cs
  SQRLPlatformAwareInstaller/Models/Inventory.cs
  SQRLPlatformAwareInstaller/Models/Uninstaller.cs
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
  SQRLPlatformAwareInstaller/Platform/OSX/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Program.cs
  SQRLPlatformAwareInstaller/SQRLPlatformAwareInstaller.csproj
  SQRLPlatformAwareInstaller/Utils.cs
  SQRLPlatformAwareInstaller/ViewModels/MainWindowViewModel.cs
  SQRLPlatformAwareInstaller/ViewModels/UninstallViewModel.cs
  SQRLPlatformAwareInstaller/ViewModels/VersionSelectorViewModel.cs
  SQRLPlatformAwareInstaller/Views/UninstallView.xaml
  SQRLPlatformAwareInstaller/Views/UninstallView.xaml.cs
Labels: enhancement

#167 Fix crash when passing empty password to SetQuickPass()
  SQRLDotNetClientUI/Models/QuickPassManager.cs
Labels: bug

#169 On Linux, only use a tray icon on Ubuntu
  SQRLDotNetClientUI/Platform/Implementation.cs
Labels: linux

#170 Add logging to Library
  SQRLDotNetClientUI/Program.cs
  SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs
  SQRLUtilsLib/SQRL.cs
  SQRLUtilsLib/SQRLCPSServer.cs
  SQRLUtilsLib/SQRLIdentity.cs
  SQRLUtilsLib/SQRLUtilsLib.csproj
Labels: enhancement

#171 Enable auth dialog to be triggered by either sqrl:// or CPS
  SQRLDotNetClientUI/App.xaml.cs
  SQRLDotNetClientUI/IPC/IPCServer.cs
  SQRLDotNetClientUI/Program.cs
  SQRLDotNetClientUI/ViewModels/AuthenticationViewModel.cs
  SQRLUtilsLib/SQRL.cs
  SQRLUtilsLib/SQRLCPSServer.cs
Labels: enhancement

#174 Move DB to User Space
  SQRLCommonUI/Models/PathConf.cs
  SQRLDotNetClientUI/Assets/Icons/MenuIcons/db_16x.png
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/DB/DBContext/SQRLDBContext.cs
  SQRLDotNetClientUI/Models/AppSettings.cs
  SQRLDotNetClientUI/Models/IdentityManager.cs
  SQRLDotNetClientUI/Program.cs
  SQRLDotNetClientUI/SQRLDotNetClientUI.csproj
  SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs
  SQRLDotNetClientUI/ViewModels/MessageBoxViewModel.cs
  SQRLDotNetClientUI/Views/MainMenuView.xaml
  SQRLDotNetClientUI/Views/MessageBoxView.xaml.cs
  SQRLDotNetClientUI/sqrl.db
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
  SQRLPlatformAwareInstaller/Platform/OSX/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Utils.cs
Labels: client, enhancement, installer

#176 Fixes Desktop Shortcut Issue #158
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/ShellLink.cs
Labels: bug, windows

#180 Add spoofing protection (MITM/NO-CPS detection)
  SQRLCommonUI/Models/PathConf.cs
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/ViewModels/AuthenticationViewModel.cs
  SQRLUtilsLib/SQRLCPSServer.cs
Labels: client, enhancement, security

#183 Fix PDF encryption message
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/Models/PdfHelper.cs
Labels: bug, client

#182 Hide the "back" button on the export screen by default
  SQRLDotNetClientUI/ViewModels/ExportIdentityViewModel.cs
  SQRLDotNetClientUI/Views/ExportIdentityView.xaml
Labels: bug, client

#181 Don't require rescue code when importing ".sqrl" file
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/ViewModels/ImportIdentitySetupViewModel.cs
  SQRLDotNetClientUI/Views/ImportIdentitySetupView.xaml
  SQRLUtilsLib/SQRL.cs
Labels: client, enhancement

#184 Fix bug when creating db directory
  SQRLDotNetClientUI/DB/DBContext/SQRLDBContext.cs
Labels: bug

#185 Detect and install Microsoft Visual C++ Redistributable Runtime
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/VcRedistHelper.cs
Labels: bug, installer, windows

#190 Set correct working directory when launching client from installer
  SQRLPlatformAwareInstaller/ViewModels/InstallationCompleteViewModel.cs
Labels: bug, client

#192 Fix installer crashing when client is running during installation
  SQRLPlatformAwareInstaller/Assets/Localization/localization.json
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
  SQRLPlatformAwareInstaller/Platform/OSX/Installer.cs
  SQRLPlatformAwareInstaller/Platform/Windows/Installer.cs
  SQRLPlatformAwareInstaller/Utils.cs
  SQRLPlatformAwareInstaller/ViewModels/VersionSelectorViewModel.cs
  SQRLPlatformAwareInstaller/Views/VersionSelectorView.xaml
Labels: bug, installer

#195 Disable changing install path on macOS
  SQRLPlatformAwareInstaller/ViewModels/VersionSelectorViewModel.cs
  SQRLPlatformAwareInstaller/Views/VersionSelectorView.xaml
Labels: installer, osx

#194 Change default install path on Linux
  SQRLCommonUI/Models/PathConf.cs
  SQRLPlatformAwareInstaller/App.xaml.cs
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
  SQRLPlatformAwareInstaller/ViewModels/InstallationCompleteViewModel.cs
Labels: installer, linux

#198 Add multi-page support to PDF export
  SQRLDotNetClientUI/Assets/Localization/localization.json
  SQRLDotNetClientUI/Models/PdfHelper.cs
Labels: bug, client

#199 Add missing translations
  SQRLDotNetClientUI/Assets/Localization/localization.json
Labels: client, enhancement

#202 Add missing "async" keyword in linux installer
  SQRLPlatformAwareInstaller/Platform/Linux/Installer.cs
Labels: bug, installer

#204 Add ability to enable testing mode in client
  SQRLDotNetClientUI/ViewModels/AboutViewModel.cs
  SQRLDotNetClientUI/Views/AboutView.xaml
Labels: client, enhancement

#205 Fix client update crash on macOS
  SQRLDotNetClientUI/ViewModels/MainMenuViewModel.cs
Labels: bug, client, osx
